{
  extends: "airbnb",
  rules: {
    react/jsx-filename-extension: ["error", { "extensions": [".js", ".jsx"] }],
    import/no-extraneous-dependencies: [2, { devDependencies: true }],
  },
  // this needs to be moved to jest environment
  globals: {
    expect: false,
    it: false,
  },
}
